* {
    margin: 0;
    padding: 0;
    font: normal 12px "Noto Sans KR";
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #111;
}

#wrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background: url(../images/myinfo/myinfo_top_tit.png);
}

header > div {
    width: 100%;
    box-sizing: border-box;
}

header > div > * {
    width: 980px;
    height: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}

header .top > p {
    float: right;
    margin-top: 10px;
}

header article {
    position: relative;
}

header > div:nth-child(2) {
    width: 100%;
    height: 85px;
}

header article > .logo {
    position: absolute;
    left: 390px;
    top: 20px;
}

header article > .freeShipping {
    position: absolute;
    right: 0;
    top: 59px;
}

header > div:nth-child(3) {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}

header > div:nth-child(3) > ul {
    position: relative;
}

header > div:nth-child(3) > ul > li {
    width: 196px;
    float: left;
}

header > div:nth-child(3) > ul > li > a > img {
    display: block;
}

.head_badge {
    position: absolute;
    left: 295px;
    top: -13px;
}

section {
    width: 980px;
    height: 743px;
    top: 326px;
    left: 470px;
}




article {
    width: 802px;
    height: 743px;
    left: 176px;
}

aside {
    width: 176px;
    height: 650px;
}

aside img:nth-child(2) {
    width: 175px;
    height: 29px;
    top: 26px;
}

aside img:nth-child(3) {
    width: 175px;
    height: 29px;
    top: 61px;
}
aside ing:nth-child(4) {
    width: 175px;
    height: 29px;
    top: 96px;
}



    
   







































footer {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

footer > div {
    width: 100%;
    height: 120px;
}

footer > div > div {
    width: 980px;
    height: 100%;
    border-top: 1px solid #D1CAB2;
    box-sizing: border-box;
    margin: 0 auto;
}

footer > div > div > div  {
    float: right;
    margin-top: 25px;
}

footer > div > div > div p {
    font-size: 10px;
    line-height: 18px;
    color: #585858;
}

footer > div > div > div > p:nth-child(2) {
    float: left;
    color: #888888;
}
footer > div > div > div > p:nth-child(3) {
    float: right;
    color: #888888;
}